# REQUIRED: Insert a randomly generated secret
# Generate using Python:
#     python3 -c 'import secrets; print(secrets.token_urlsafe(32))'
app.jwtSecret=

# Bank specific configuration, please replace:
bank.name=YourBank
bank.url=yourbank.example.com
# bank.tagline=
# bank.startingMoney=

# Admin info
admin.password=
admin.email=

# Email settings
spring.mail.host=smtp.yourmailhoster.com
spring.mail.port=587
spring.mail.username=you@example.com
spring.mail.password=<pw>
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
